@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Karla:wght@300;400;500;600;700&display=swap");

@layer base {
  body {
    @apply bg-repeat-x;
    @apply bg-top;
    @apply z-[-1];
    @apply bg-[#001d3d];
    @apply font-['Karla'];
    @apply text-[#ffc300];
    @apply text-lg;
    @apply leading-loose;
  }

  h1 {
    @apply font-['Poppins'];
    @apply text-[#ffc300];
    @apply font-medium;
  }

  h2,
  h3 {
    @apply font-['Poppins'];
    @apply text-[#ffc300];
  }

  a,
  a:active,
  a:visited {
    @apply text-[#ffc300];
    @apply transition-all;
    @apply ease-in;
    @apply duration-100;
  }

  a:hover {
    @apply text-[#ffc300];
  }

  button {
    @apply uppercase;
    @apply text-[#000814];
    @apply tracking-widest;
    @apply transition-all;
    @apply ease-in;
    @apply duration-100;
  }

  button:hover {
    @apply bg-[#ffd60a];
  }
}